.button-group {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  background-color: rgba(47, 79, 79, 0.2);
  border-radius: 12px;
}

button {
  width: 25%;
  margin: 5px auto;
  padding: 8px;
  border-radius: 8px;
  border: 3px solid darkslategrey;
  font-size: large;
  font-weight: bold;
}

button:hover {
  background-color: darkslategrey;
  color: #33f8f8;
  border: 3px solid #33f8f8;
}
